#Don't store node modules and package lock for react
node_modules/
package-lock.json

#Python pycache directories
__pycache__/
*.pyc

#Database files
*.db

#Encryption key file
PassIV

#Log files
*.log

#We can just add to gitignore as we go