@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h1{
  display: flex;
  text-align: center;
  justify-content: space-around;
}

p{
  display: flex;
  text-align: center;
  justify-content: space-around;
}