.command {
  flex: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #edf0f5;
  padding: 5px;

}

.commandTitle{
  padding: 20px;
}

.commandsTab{
  -webkit-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  height: 85%;
  width: 95%;
  padding: 30px;
  background-color: #ffff;
  border-radius: 10px;

}