.concept {

}

.machinesTile {
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
  padding-bottom: 50px;
}

.commandTile {
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
}

.containerTitle{
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  padding: 5px;
}

.title{
  font-size: 48px;
  font-weight: 600;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px;
}

.btnExecute{
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}