/* Dashboard.js Styling */
.dashboard{
  flex: 10;
  background-color: #edf0f5;
  padding: 5px;
}

.dashboardTitle{
  display: flex;
  justify-content: center;
}

.connectedMachine{
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
}


/* Machines.js Styling */
.machinesWrapper{
  padding-bottom: 10px;
}

.machinesCard

.cardContent{
  display: flex;
}

.machineName {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
}

.desktopIcon {
  padding: 5px;
  width: 100px;
  height: 100px;
}

.cardBody {
  display: flex;
  width: 50vw;
  justify-content: space-around;
}

.expand {
  transform: rotate(0deg);
  margin-left: auto;
  transition: 350ms;
}

.expandOpen  {
  transform: rotate(180deg);
}

