.username{
    display: block;
    box-align: center;
    top: 0;
    left: 100px;
    width: 50%;
    margin: 50px;
}

.form{
    text-align: center;
    display: grid;
    place-items: center;
}

.password{
    width: 50%;

}
.home {
  flex: 10;
}