.query{
  flex: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.queryTitle{
  padding: 20px;
}

.machineList{
  -webkit-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  height: 85%;
  width: 95%;
  padding: 10px;
}