.searchBar{
  font-size: 20px;
  border: none;
  width: 20vw;
  border-bottom: 1px solid black;
  background-color: inherit;
  background-image: url('../../assets/searchicon.png');
  background-repeat: no-repeat;
  background-position: 0px 2px;
  padding: 0px 0px 5px 35px;
  margin-left: 10px;
}

.searchBar:focus{
  outline: none;
  border-bottom: 3px solid black;
}